@model WebApplication1.Models.AuthorModel

@{
    ViewData["Title"] = "EditAuthor";
    Layout = "~/Pages/_LayoutAdmin.cshtml";
}

<h1>Редагування автора</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditAuthor" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Прізвище</label>
                @Html.EditorFor(a => a.LastName)
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">Ім'я</label>
                @Html.EditorFor(a => a.FirstName)
            </div>
            <div class="form-group">
                <input type="submit" value="Змінити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


