@model WebApplication1.Models.UserModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/_Layout.cshtml";
}

<h1>Вхід</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" name="Email"/>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" name="Password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Зайти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Я не зареєстрований", "Register", "Account")
</div>
