@model WebApplication1.Models.BookModel
@{
    ViewData["Title"] = "NewBook";
    Layout = "~/Pages/_LayoutAdmin.cshtml";
}

<h1>Створення книги</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewBook" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ім'я книги</label>
                <input asp-for="Name" class="form-control" name="Name" />
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Прізвище автора</label>
                <select asp-for="Author.Id" class="form-control" name="AuthorL" asp-items="ViewBag.AuthorL"></select>
            </div>
            <div class="form-group">
                <label asp-for="Author" class="control-label">Ім'я автора</label>
                <select asp-for="Author.Id" class="form-control" name="AuthorF" asp-items="ViewBag.AuthorF"></select>
            </div>
            <div class="form-group">
                <label asp-for="GenreBook" class="control-label">Жанр</label>
                <select asp-for="GenreBook.Id" class="form-control" name="GenreBook" asp-items="ViewBag.GenreBook"></select>
            </div>
            <div class="form-group">
                <label asp-for="YearOfPublic" class="control-label">Рік публіації</label>
                <input asp-for="YearOfPublic" class="form-control" name="YearOfPublic" />
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label">Силка</label>
                <input asp-for="Link" class="form-control" name="Link" />
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Опис</label>
                <input asp-for="Description" class="form-control" name="Description" />
            </div>
            <div class="form-group">
                <input type="submit" value="Створити" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

